[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cx-oracle = "*"
flask-restful = "*"
marshmallow = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
